:root {
    --base-color-black: hsl(0, 0%, 0%);
    --base-color-black50: hsla(0, 0%, 0%, 0.5);
    --base-color-white: hsl(0, 0%, 100%);
    --base-color-white50: hsla(0, 0%, 100%, 0.5);

    --base-color-grey10: hsl(0, 0%, 10%);
    --base-color-grey90: hsl(0, 0%, 90%);

    --base-color-west-side: hsl(30, 100%, 55%);
}

@mixin light-theme {
    --color-landing-background: var(--base-color-white);
    --color-landing-background50: var(--base-color-white50);
    --color-landing-content: var(--base-color-black);
    --color-landing-content50: var(--base-color-black50);

    --color-background: var(--base-color-grey90);
    --color-content: var(--base-color-grey10);

    --color-primary: var(--base-color-west-side);
}

@mixin dark-theme {
    --color-landing-background: var(--base-color-black);
    --color-landing-background50: var(--base-color-black50);
    --color-landing-content: var(--base-color-white);
    --color-landing-content50: var(--base-color-white50);

    --color-background: var(--base-color-grey10);
    --color-content: var(--base-color-grey90);

    --color-primary: var(--base-color-west-side);
}

:root {
    @include light-theme;
}

[data-theme="dark"] {
    @include dark-theme;
}
