:root {

}

@mixin light-theme {
    --color-landing-background: white;
    --color-landing-content-background: hsl(0, 0%, 97%);
    --color-landing-content: black;

    --color-background: hsl(210, 10%, 98%);
    --color-primary: hsl(210, 90%, 60%);
    --color-primary-transparent: hsla(210, 90%, 50%, 0.1);
    --color-gold-transparent: oklch(100% 50% 80deg / 0.1);
    --color-content-background: hsl(210, 25%, 100%);
    --color-content-light: hsl(210, 25%, 90%);
    --color-content-highlight: hsl(210, 25%, 70%);

    --color-content: hsl(0, 0%, 08%);
    --color-content-30: hsla(0, 0%, 08%, 0.3);
    --color-content-50: hsla(0, 0%, 08%, 0.5);
    --color-content-70: hsla(0, 0%, 08%, 0.7);
    --color-shadow: rgba(0, 0, 0, 0.05);
    --color-shadow-dark: rgba(0, 0, 0, 0.5);
    --color-light: rgba(255, 255, 255, 0.5);
}

@mixin dark-theme {
    --color-landing-background: black;
    --color-landing-content-background: hsl(0, 0%, 3%);
    --color-landing-content: white;

    --color-background: hsl(210, 30%, 10%);
    --color-primary: hsl(210, 90%, 50%);
    --color-primary-transparent: hsla(210, 90%, 50%, 0.25);
    --color-gold-transparent: oklch(100% 50% 80deg / 0.25);
    --color-content-background: hsl(210, 25%, 15%);
    --color-content-light: hsl(210, 25%, 20%);
    --color-content-highlight: hsl(210, 25%, 35%);

    --color-content: hsl(0, 0%, 90%);
    --color-content-30: hsla(0, 0%, 90%, 0.3);
    --color-content-50: hsla(0, 0%, 90%, 0.5);
    --color-content-70: hsla(0, 0%, 90%, 0.7);
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-shadow-dark: rgba(0, 0, 0, 0.5);
    --color-light: rgba(255, 255, 255, 0.05);
}

:root {
    @include light-theme;
}

[data-theme="dark"] {
    @include dark-theme;
}
