:root {
    --font-size-base: 14px;
    --font-size-small: 13px;
}

body {
    font-size: 16px;
}

input,
textarea,
select,
button {
    font-size: inherit;
    color: inherit;
}

body,
input,
textarea,
select,
button {
    font-family: "Exo 2", Helvetica, Arial, sans-serif;
}

.las, .lar {
    font-size:24px;
}
