@import "colors";
@import "fonts";
@import "lengths";

:root {
    --duration-fast: 0.2s ease-in-out;
}

* {
    transition: color var(--duration-fast),
    border-color var(--duration-fast),
    border var(--duration-fast),
    background-color var(--duration-fast),
    background var(--duration-fast),
    transform var(--duration-fast),
    opacity var(--duration-fast);
}

body {
    margin: 0;
    color: var(--color-content);
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--color-text-focus);
    }
}

button, input {
    border: none;
    background: none;
    outline: none;
}
