:root {
    // Dimensions
    --length-button-base: 36px;

    // Radius
    --length-radius-base: 8px;

    // Border
    --length-border-base: 2px;

    // Padding
    --length-padding-xs: 2px;
    --length-padding-s: 4px;
    --length-padding-base: 8px;
    --length-padding-l: 16px;
    --length-padding-xl: 32px;

    // Margin
    --length-margin-s: 8px;
    --length-margin-base: 16px;
    --length-margin-l: 32px;

    // Font-size
    --size-title: 16px;
}
